altgraph==0.17
arcade==2.5.7
asgiref==3.4.1
attrs==21.2.0
auxlib==0.0.43
blinker==1.4
Brotli==1.0.9
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.9
click==8.0.1
colorama==0.4.4
conda==4.2.7
cryptography==3.4.8
cycler==0.11.0
cytoolz==0.11.2
docopt==0.6.2
fix-yahoo-finance==0.1.37
Flask==2.0.1
Flask-WTF==1.0.0
fonttools==4.28.3
future==0.18.2
gunicorn==20.1.0
h11==0.12.0
h2==4.0.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.1
kaitaistruct==0.9
kiwisolver==1.3.2
ldap3==2.9.1
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib==3.5.1
msgpack==1.0.2
multitasking==0.0.10
newsapi==0.1.1
newsapi-python==0.2.6
numpy==1.20.1
packaging==21.3
pandas==1.3.4
passlib==1.7.4
pefile==2021.5.24
Pillow==8.3.1
pipreqs==0.4.11
protobuf==3.17.3
publicsuffix2==2.20191221
pyasn1==0.4.8
pycosat==0.6.3
pycparser==2.20
pydivert==2.1.0
pygame==2.0.1
pyglet==1.5.19
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.2
pymunk==6.0.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
python-dateutil==2.8.2
pytiled-parser==0.9.4a3
pytz==2021.3
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.26.0
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.6
Shapely==1.7.1
simplejson==3.17.6
six==1.16.0
sortedcontainers==2.4.0
toolz==0.11.2
tornado==6.1
urllib3==1.26.7
urwid==2.1.2
Werkzeug==2.0.1
wsproto==1.0.0
WTForms==3.0.0
yahoo-finance==1.4.0
yarg==0.1.9
yfinance==0.1.67
zstandard==0.15.2
